<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="home.css"/>
    <link rel="stylesheet" href="homefont.css">
<link rel="stylesheet" href="noscript.css"/>
	</head> 
	<body class="is-preload landing"> 
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">VirtualMentors</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/network">Find Mentors</a></li>
							<li><a href="/chatform">Chatroom</a></li>
							<li><a href="/connections">MentorNetwork</a></li>
							<li><a href="/menteeconnections">MenteeNetwork</a></li>
							<li><a href="/home">Home</a></li>
							
							<li>
								<a href="#"></a>
								<ul>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option 1</a></li>
											<li><a href="#">Option 2</a></li>
											<li><a href="#">Option 3</a></li>
											<li><a href="#">Option 4</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="elements.html"></a></li>
							<li><a href="/logout" class="button primary">Log Out</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>VirtualMentors</h2>
							<p>A place for Mentors and Mentees<br />
							For The Benfit of The Comunity</p>
						</header>
						<span class="image"><img src="img/mentor.png" alt="idk" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="img/homepic1.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2 style="font-size: 1.5em;">Software Development is hard</h2>
										<p>The journey into tech is a rough one if done alone. We believe in the power of colloborating and connecting for the benefit of the community.</p>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>A culture of Mentorship allows for doors to open that would otherwise require a full forced front kick. Navigating through the tech field can be intimidating, and while there is a plethora of information on the web, Mentorship can help fill gaps such as proper networking, soft skills, and problem-solving.</p>
								</div>
								<div class="col-4 col-12-medium">
									<p>VirtualMentors strives to bridge the connection between Mentors who have a passion for impacting the community and Mentees who are dedicated to the life long journey of learning.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="img/homepic2.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Become a Mentee!</h2>
							<p></p>
						</header>
						<p>Do you want to move your career forward? Are you dedicated to the life-long journey of learning and aspire to get proper direction? If so, you can sign up as a mentee. Mentees can specify programming languages they need assitance with and be directed to the appropriate mentors. Along with tech support, Mentees can get help with professional development to further themesleves in their careers.</p>
						<ul class="actions">
							<li><a href="/student" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="img/homepic3.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Become a Mentor!</h2>
							<p></p>
						</header>
						<p>Are you passionate with leaving an impact on the community and paving the way for the future generation to suceed? Do you wish to progress your leadership skills and gain new perspectives and free ideas? If so, sign up to become a mentor! As a mentor, you will be responsible for connecting with students and guiding them through the actions they need help with.</p>
						<ul class="actions">
							<li><a href="/mentor" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Get The Help You Need!</h2>
							<!-- <p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p> -->
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-chart-area"></span>
									<h3>Technical Support</h3>
									<p>Mentors and Mentees can work together to better understand various concepts.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-comment"></span>
									<h3>Professional Development</h3>
									<p>Mentors can work with Mentees on how to approach breaking into tech and how to navigate networking, social media, or other domains.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-flask"></span>
									<h3>Mentor Development</h3>
									<p>Mentoring is a great way for a professional to work on their leadership skills and gain different insight and perspectives on topics.</p>
								</section>
								<!-- <section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-paper-plane"></span>
									<h3>Non semper interdum</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-file"></span>
									<h3>Odio laoreet accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-lock"></span>
									<h3>Massa arcu accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section> -->
							</div>
						</div>
						<footer class="major">
							<ul class="actions special">
								<li><a href="/mission" class="button">Learn More About Our Mission!</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<!-- <section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Magna faucibus lorem diam</h2>
							<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
						</header>
						<form method="post" action="#" class="cta">
							<div class="row gtr-uniform gtr-50">
								<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
							</div>
						</form>
					</div>
				</section> -->

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					
				</footer>

		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>