<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/1b23973fb1.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href="home.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/home">Virtual Mentors</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
          </form>
        </div>
      </nav>
      <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">Amplifying Success For The Community</h1>
            <img src = 'img/homementor.png' class="firstPicture">
            <p> Teaching others is the best way to learn yourself. In the same way, mentors become more competent as leaders and communicators as they guide and help rising talent.</p>
            <p><a class="btn btn-primary btn-lg" href="https://www.togetherplatform.com/blog/what-is-the-purpose-of-mentoring" role="button">Learn more &raquo;</a></p>
          </div>
        </div>
  
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2>Our Mission</h2>
              <p>The purpose of mentoring is to connect an individual who has a lot of knowledge and experience with someone who hasn’t gained the same knowledge or experience. 

                By having someone who knows more than yourself share advice, offer guidance and be a sounding board for your thoughts you stand to benefit from experience beyond your own. Whether in your career or life, having a mentor is crucial to all of our continued growth and development.</p>
              <p><a class="btn btn-secondary" href="/mission" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Students</h2>
              <p>Most mentees are looking for someone to help them advance their career prospects. Through advice and guidance, the mentor can help the employee develop their full potential or entrepreneurial mindset in the workplace.</p>
              <p><a class="btn btn-secondary" href="/student" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Mentors</h2>
              <p>Similar to developing leadership skills, mentors will become recognized for their communication skills and the ability to help young employees with their career advancement and personal development.</p>
              <p><a class="btn btn-secondary" href="/mentor" role="button">View details &raquo;</a></p>
            </div>
          </div>
  
          <hr>
  
        </div> <!-- /container -->
  
      </main>
  
      <footer class="container">
      </footer>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>