<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/1b23973fb1.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href="student.css">
    <title>Document</title>
</head>
<body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Mission For Mentors</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a style = "color: black;" class="nav-link active" href="/home">Home</a>
              <a class="nav-link" href="#"></a>
              <a class="nav-link" href="#"></a>
            </nav>
          </div>
        </header>
  
        <main role="main" class="inner cover">
          <h1 class="cover-heading">Become a Mentee</h1>
          <img src = "img/mentor.png">
          <p class="lead">Mentorship provides the opportunity for the mentor to give back to the company by helping train new and upcoming employees, making those around them more competent and satisfied. It’s also a great opportunity to find up-and-coming talent for promotions or special projects. Mentorship is helpful for both the mentor and mentee’s networks.

            ‍</p>
            <form class="needs-validation" action="/mentor" method="post" novalidate>
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Full Name</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Enrique Sanchez" name="name" required>
                    <div class="valid-tooltip">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Link</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="MERN" name="link"  required>
                    <div class="valid-tooltip">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltipUsername">Specialty</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="validationTooltipUsername" placeholder="I would like to continue to learn" aria-describedby="validationTooltipUsernamePrepend" name="special" required>
                      <div class="invalid-tooltip">
                        Please choose a unique and valid username.
                      </div>
                    </div>
                  </div>
                </div>
                
                <button class="btn btn-primary" type="submit">Submit form</button>
              </form>
            <p class="lead">
          </p>
        </main>
  
        <footer class="mastfoot mt-auto">
          <div class="inner">
    
          </div>
        </footer>
      </div>
  
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


















</body>
</html>