<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/1b23973fb1.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href="mission.css">
    <title>Document</title>
</head>
<body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Mission For Students</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a style = "color: black;" class="nav-link active" href="/home">Home</a>
              <a class="nav-link" href="#"></a>
              <a class="nav-link" href="#"></a>
            </nav>
          </div>
        </header>
  
        <main role="main" class="inner cover">
          <h1 class="cover-heading">Our Mission Statement</h1>
          <img src = "img/missionimg.jpg">
          <p class="lead">Simply stated, mentoring is a helping relationship in which
            a more experienced person (the Mentor) assumes limited
            responsibility for assisting a less experienced person (the
            Protégé) in order to enhance the probability that the less
            experienced person will develop and grow professionally
            and personally. This relationship can focus on a particular
            career or profession as the Protégé is ready to consider
            these specifics. It always addresses the Protégé’s personal
            development to shed light on the question, “What sort of
            professional would I like to become?”
        </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
      
            </div>
          </footer>
        </div>
    
    
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
        
        