<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/1b23973fb1.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href="student.css">
    <title>Document</title>
</head>
<body id="bootstrap-overide">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Mission For Students</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a style = "color: black;"class="nav-link active" href="/home">Back Home</a>
              <a class="nav-link" href="#"></a>
              <a class="nav-link" href="#"></a>
            </nav>
          </div>
        </header>
  
        <main role="main" class="inner cover">
          <h1 class="cover-heading">Become a Mentee</h1>
          <img src = "img/student.jpg">
          <p class="lead">A mentor is someone who helps you grow your skills, make better decisions, and gain new perspectives on your life and career. As a mentee, your mentor will leverage their experience to give you guidance on your career or life now and in the future. 

            Rather than learning through trial and error, a mentor is a person you can look to for direction and a role model to imitate. </p>
            <form class="needs-validation" enctype="multipart/form-data" action="/student" method="post" >
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <div class="custom-file">
                      <label class="custom-file-label" for="inputGroupFile03">Add Photo</label>
                      <input type="file" class="custom-file-input" id="inputGroupFile03" name="file-to-upload">
                      
                    </div>
                    <div class="valid-tooltip">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Personal Goals</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="MERN" name="goals"  required>
                    <div class="valid-tooltip">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltipUsername">Tech Interests</label>
                    <div class="input-group">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Python" name="stack">
                        <label class="form-check-label" for="inlineCheckbox1">Python</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="JavaScript" name="stack">
                        <label class="form-check-label" for="inlineCheckbox2">JavaScript</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Java" name="stack">
                        <label class="form-check-label" for="inlineCheckbox3">Java</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="C" name="stack">
                        <label class="form-check-label" for="inlineCheckbox1">C</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="C++" name="stack">
                        <label class="form-check-label" for="inlineCheckbox2">C++</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="PHP" name="stack">
                        <label class="form-check-label" for="inlineCheckbox3">PHP</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Swift" name="stack">
                        <label class="form-check-label" for="inlineCheckbox1">Swift</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Rust" name="stack">
                        <label class="form-check-label" for="inlineCheckbox2">Rust</label>
                      </div>
                      <div class="invalid-tooltip">
                        Please choose a unique and valid username.
                      </div>
                    </div>
                  </div>
                  
                </div>
                
                <button class="btn btn-primary" type="submit">Submit form</button>
              </form>
            <p class="lead">
          </p>
        </main>
  
        <footer class="mastfoot mt-auto">
          
        </footer>
      </div>
  
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


















</body>
</html>